@model Client.Models.TaskModel

@{
    ViewData["Title"] = "Usuń";
}

<h1 class="border rounded bg-light">Usuń</h1>

<h3>Czy chcesz usunąć?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.completed)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-dark">Powrót</a>
    </form>
</div>