@model Client.Models.TaskModel

@{
    ViewData["Title"] = "Edytuj";
}

<h1 class="bg-light border rounded">Edytuj</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="completed" /> @Html.DisplayNameFor(model => model.completed)
                </label>
            </div>
            <div class="row">
                <div class="form-group col-auto m-1">
                    <input type="submit" value="Save" class="btn btn-warning" />
                </div>
                <div class="col-auto m-1">
                    <a asp-action="Index" class="btn btn-dark">Back to List</a>
                </div>
            </div>           
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
